extends layout

block content
  h1 #{poll.prompt}
  h3
    | #{poll.name} poll is using the 
    a(href='/about/'+method.code) #{method.name}
    |  to select a winner.
  form(action='/p/'+poll.name+'/cast', method='post')
    - each option, index in poll.options
      p.wide
        input.poll-option(type=(poll.single ? 'radio' : 'checkbox'), name='vote', value=option.name, id=option.name)
        label.padded.poll-label(for=option.name) #{option.name}
    
    input.hidden(type='checkbox', name='single', checked=(poll.single), disabled='true')
    input.padded(type='submit', value='send my vote ✈')        
