extends layout

block content
  script.
    window.onload = function() {
      var name = document.getElementById('name');
      var ajax = new XMLHttpRequest();
      ajax.onreadystatechange = function() {
        if (ajax.readyState === 4 && ajax.status === 200) {
          if (JSON.parse(ajax.responseText).votes != document.getElementById("votes").value) location.reload();
        }
      }
      ajax.open("GET", "/api/v1/poll/votes/"+name.value, true);
      ajax.send();
    }
  
  h1 #{poll.prompt}
  h3
    if poll.winner == ""
      | #{poll.name} poll is using the 
      a(href='/about/'+method.code) #{method.name}
      |  to select a winner.
    else
      | #{poll.winner} was choosen as the winner of the #{poll.name} poll using 
      a(href='/about/'+method.code) #{method.name}
      |.
  - each option, index in poll.options
    div.poll-label(class=(poll.winner == option.name ? "winner" : ""))
      p.padded.bar(style="width:"+(option.votes/poll.votes.length*100)+"%;", data-votes="("+option.votes+(option.votes == 1 ? " vote)" : " votes)")) #{option.name} 
      
  input#name.hidden(type="text", value=poll.name)
  input#votes.hidden(type="text", value=poll.votes.length)
